<h1>マイページ</h1>

<div class="col-md-6">
  <%= attachment_image_tag @user, :movie_image, :fill, 300, 420, format: "jpg", fallback: "no_image.jpg" %>
  <%= @user.name %>
</div>

<div class="col-md-6">
  <%=  %>
</div>
