<%= render 'layouts/error', data: @comment %>
<div class=comment-new-form>
  <h1>コメント投稿ページ</h1>
    <%= form_with(model: [@review.movie_id, @review.id, @comment], url:user_movie_review_comments_path, local:true) do |f| %>
      <p>コメント入力</p>
      <div>
        <%= f.text_area :body, class: "comment-form", style: "height: 60px"  %><br/>
        <%= f.submit "投稿する", class: "btn-square-shadow" %>
      </div>
    <% end %>
</div>
