<div class="genre-box">
  <div class="genre-title">ジャンル</div>
    <% if admin_signed_in? %>
      <ul class="genre-mini-box">
        <% genres.each do |genre| %>
          <li class=" gerne-border">
            <%= link_to edit_admin_genre_path(genre.id) do%>
              <%= genre.name %>/
            <% end %>
          </li>
        <% end %>
      </ul>
    <% elsif user_signed_in? %>
      <ul class="genre-mini-box">
        <% genres.each do |genre| %>
          <li class=" genre-border">
            <%= link_to user_genre_path(genre.id) do%>
              <%= genre.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
</div>
