/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";  /*bootstrapを読み込む*/
@import "bootstrap";            /*bootstrapを読み込む*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  color:white;
}

header .navbar-left span {
  font-size: 30px;
  padding-top: 10px;
}

body {
  margin-top: 60px;
}

.word-wrap {
  word-wrap: [50];
}

.genre-box {
  border: 2px solid #ddd;
}

.movie-box {
  width: 337px;
  margin: 10px;
  font-size: 15px;
  border: 2px solid #DDDDDD;
  text-align: center;
  padding-top: 20px
}

.movie-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.genre-title {
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  padding: 5px;
}

.box {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.form-group {
  margin-bottom: 0;
}

.user-box {
  border: 1px solid;
  height: 560px;
  margin: 20px;
  padding: 20px;
}

.users-user-imgage {
  margin-left: 45px;
  margin-right: 75px;
  margin-bottom: 20px;
}

.movie-rank-box {
  display: flex;
  text-align: center;
  margin-right:auto;
  margin-left:auto
}

.movie-mini-rank-box {
  padding: 5px;
}

.user-minibox{
  width: auto;
}

.review-big-box {
  display: flex;
  flex-flow: row wrap;
}

.user-review {
  border: 2px solid #EEEEEE;
  margin: 20px;
  width: 700px;
}

.review {
  border: 2px solid #EEEEEE;
  margin: 20px;
}

.review-box {
  width: 100%;
  height: 550px;
  border-bottom: 2px solid #EEEEEE;
}

.review-mini-box {
  display: inline-block;
  height: auto;
  width: auto;
  vertical-align: top;
}

.is_spoil_message-color {
  color: red;
}

.is_spoil_content-wrappper {
  display: none;
}

.favorite-and-comments-box {
  display: flex;
  height: 40px;
  justify-content: flex-end;
}

.comment-destroy-box {
  display: flex;
  justify-content: flex-end;
}

.favorite-layouts {
  margin: 5px;
  padding: 5px;
}

.comment-layouts {
  margin: 5px;
  padding: 5px;
}

.searchbar {
  color: black;
  text-align: center;
  padding-top: 10px;
}

.genre-bar {
  border-color: #333333;
  border: 1px solid;
}

input[type=checkbox] {
display: none; /* checkboxを非表示にする */
}

input[type="checkbox"]:checked + .check_box_label {
  background: #FF0000;
  color: #ffffff;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.check_box_label {
  margin-top: 20px; /* ラベル外側の余白を指定する */
  margin-bottom: 20px;
  padding: 5px;
  cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
  text-decoration: none;
  background: #CCCCCC;
  color: #CCCCCC;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #627295;
  border-radius: 3px;/*角の丸み*/
  font-weight: bold;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
}


