// Place all the styles related to the user/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-new-form {
  margin: 40px 80px;
}

.comment-form {
  width: 200px;
}

.comment-layout {
  background-color: white;
  margin-top: 5px;
  position: relative;
  height: 180px;
}

.comment-user-profile {
  position: absolute;
  height: 180px;
  width: 200px;
  text-align: center;
  margin: 10px;
}

.comment-user-name {
  margin-top: 0;
  font-size: 25px;
  padding: 0;
}

.comment-user-status {
  position: absolute;
  left: 200px;
  margin-top: 20px;
}

.comment-destroy-box {
  position: absolute;
  right: 40px;
  display: flex;
  justify-content: flex-end;
  margin-top: 140px;
}

.comment-box {
  border: solid 2px #320cc7;
}

.review-comment-middle-box {
  font-size: 50px;
  width: auto;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
  color: white;
  background-color: #4a44f2;
}

.comments-group {
  overflow: auto;
  height: 500px;
}