// Place all the styles related to the user/movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.movie-box {
  width: 337px;
  margin: 10px;
  font-size: 15px;
  background-color: white;
  border: 2px solid;
  text-align: center;
  padding-top: 20px
}

.movie-title {
  margin-top: 20px;
  margin-bottom: 10px;
}

.movie-show-box {
  background-color: white;
  display: flex;
  margin-right: 80px;
  margin-left: 80px;
}

.movie-day-info {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.movie-genre-info {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.movie-status {
  display: inline-block;
  margin-top: 50px;
  margin-left:40px;
  margin-right:20px;
}

.movie-profile {
  display: inline-block;
  margin-right: 40px;
  margin-left: 20px;
}

.middle-box {
  font-size: 25px;
  border-bottom: 1px solid #F2F2F2;
  width: auto;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
  background-color: #BBBDF2;
}

.movie-btn-border:first-child {
  display: inline-block;
  border-left: 1px solid #BBBDF2;
  border-right: 1px solid #BBBDF2;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: .4s;
}

.movie-btn-border {
  display: inline-block;
  border-right: 1px solid #BBBDF2;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: .4s;
}

.movie-btn-border:hover {
  background-color: #4A44F2;
  cursor: pointer;
}

.movie-btn-border:last-child:hover {
  background-color: red;
  cursor: pointer;
}


.movie-favorite-and-comments-box {
  background-color: white;
  display: flex;
  height: 40px;
  justify-content: flex-end;
}

.user-movie-rank-box {
  margin-right: 160px;
  margin-left: 160px;
}

.movie-image {
  width: 350px;
  height: 470px;
}

.movies-reviews {
  border: 2px solid #EEEEEE;
  margin: 20px 80px;
}

.movie-review-box {
  display: flex;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #EEEEEE;
}

.movie-review-profile {
  display: inline-block;
  text-align: center;
  height: auto;
  padding: 10px;
  width: auto;
  vertical-align: top;
}

.movie-review-status {
  display: inline-block;
  text-align: left;
  height: auto;
  padding: 10px;
  width: auto;
  vertical-align: top;
}

.movie-review-choice {
  display: flex;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  background-color: #BBBDF2;
  justify-content: center;
  align-items: center;
}

@media (max-width:768px){
  .movie-show-box {
    background-color: white;
    flex-direction: column;
    display: flex;
    margin-right: 80px;
    margin-left: 80px;
  }
  .middle-box {
    font-size: 23px;
    border-bottom: 1px solid #F2F2F2;
    width: auto;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    background-color: #BBBDF2;
  }

  .movie-image {
    width: 400px;
    height: 570px;
  }

  .movie-review-profile {
    display: inline-block;
    text-align: left;
    height: auto;
    padding: 10px;
    width: auto;
    vertical-align: top;
  }
}

@media (max-width:690px){
  .movie-image {
    width: 330px;
    height: 500px;
  }

  .movie-review-box {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #EEEEEE;
  }

  .movies-reviews {
    border: 2px solid #EEEEEE;
    margin: 20px 80px;
    height: 640px
  }
}

@media (max-width:425px){

  .movie-show-box {
    margin-right: 10px;
    margin-left: 10px;
  }

  .middle-box {
    font-size: 20px;
    border-bottom: 1px solid #F2F2F2;
    width: auto;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    background-color: #BBBDF2;
  }

  .movie-review-choice {
    display: flex;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #BBBDF2;
    justify-content: center;
    align-items: center;
  }

  .movies-reviews {
    margin: 20px 10px;
  }
}

@media (max-width:375px){
  .movie-image {
    width: 250px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}












