// Place all the styles related to the user/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-box {
  width: 25%;
}

.user-minibox {
  width: auto;
}
.profile-box {
  margin: 30px
}

.my-box {
  display: flex;
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.my-mini-box:first-child {
  text-align: center;
  padding: 20px;
  border-left: 1px solid;
  margin-left: 30px;
  margin-bottom: 0px;
}

.my-mini-box {
  text-align: center;
  padding: 20px;
  margin-bottom: 0px;
}

.btn-border {
  display: inline-block;
  border-right: 1px solid;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  transition: .4s;
}

.btn-border:hover {
  background-color: #FF8C00 ;
}

.user-followers-modal-wrappper {
  display: none;
}

.user-following-modal-wrappper {
  display: none;
}

.user-ranking-modal-wrappper {
  display: none;
}

.review-big-box {
  display: flex;
  flex-flow: row wrap;
}

.user-review {
  border: 2px solid #EEEEEE;
  margin: 20px;
  width: 46%;
}

