<% if data.errors.any? %>
  <div id="error_explanation">
      <ul>
        <% data.errors.full_messages.each do|message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  </div>
<% end %>